@import "tailwindcss";

@theme{
  --color-grey: #f5f5f5;
}

.note-item {
  position: relative;
}

.note-item .note-actions {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.note-item:hover .note-actions {
  display: flex;
}